<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
   <link rel="stylesheet" href="/public/css/site.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script> --}}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  {{!-- <link rel="stylesheet" href=" https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://icons.getbootstrap.com/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script> --}}
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li class="active"><a href="/">Home</a></li>
        <li><a href="/space/host">Host a Space</a></li>


        <li><a href="#">About</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/savedSpaces"><span></span>Spaces Saved</a></li>
        <li><a href="/user/profile"><span></span> UserProfile</a></li>
        <li><a href="/user/signup"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
        <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{{{body}}}
  

<footer class="container-fluid text-center">
  <p>Swati Gunari | Dongya Li | Haolei Wang | Anirudh Varma</p>
  <script src="/public/js/site.js"></script>
  <script src="/public/js/userValidate.js"></script>
  <script src='/public/js/space.js'></script>
</footer>

</body>
</html>
