<!DOCTYPE html>
<html lang="en">
<head>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href=" https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://icons.getbootstrap.com/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    {{!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script> --}}
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    

</head>
<body>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="bi bi-menu-button-wide"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active"><a class="nav-link py-0" href="/">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item">
                    <a class="nav-link py-0" href="/space/host">Host a space</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0" href="#">About</a>
                </li>
                <li>
                    <a  class="nav-link py-0" href="/user/savedSpaces">
                    <i class="bi bi-heart-fill"></i>
                    </a>
                </li>
                

            </ul>
            <div class="d-flex">
                <ul class="navbar-nav">
                    <li><a class="nav-link py-0"  href="/user/logout">
                    <i class="bi bi-power"></i>
                    </a>
                    </li>
                    <li><a class="nav-link py-0"  href="/user/profile">
                    <i class="bi bi-person-circle"></i>
                    </a>
                    </li>
                    {{#if session.userId}}
                         <li><p class="userName mb-0">{{session.userName}}</p></li>
                     {{else}}
                         <li><a class="nav-link py-0"  href="/user/login">
                        Login
                        </a>
                        </li>
                        <li><a class="nav-link py-0"  href="/user/signup">
                        Sign Up
                        </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="mainContent">
    {{{body}}}
</div>
  

<footer class="container-fluid text-center">
  <p>Swati Gunari | Dongya Li | Haolei Wang | Anirudh Varma</p>
   <script src="/public/js/userValidate.js"></script>
  <script src='/public/js/space.js'></script>
  <script src="/public/js/site.js"></script>
 
</footer>

</body>
</html>
