{{#if hasError}}
    <h1 class="error">{{error}}</h1>
{{/if}}

<form action="/comments/creatComment/{{spaceId}}" method="POST" id="comment-form">
    <div>
        <label>
        Please enter your comment:
        <textarea name="comment" class="form-control form-control-lg" id="comment" cols="30" rows="10" placeholder="You can enter any questions you want to ask about this Space here."></textarea>
        </label>
    </div>

    <div id="comment-submit-button">
        <button type="submit" class="btn btn-primary" name="submitButton" id="submitButton">Post</button>
    </div>
</form>