{{#if hasError}}
    <h1 class="error">{{error}}</h1>
{{/if}}

<form action="/comments/edit/{{commentId}}" method="POST" id="editComment-form">
    <div>
        <label>
        Please enter your new comment:
        <textarea name="comment" class="form-control form-control-lg" id="comment" cols="30" rows="10" placeholder="You can update this comment here."></textarea>
        </label>
    </div>

    <div id="comment-submit-button">
        <button type="submit" class="btn btn-primary" name="submitButton" id="submitButton">Update Comment</button>
    </div>
</form>