<div class="contentBox">
    <h1>About us</h1>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <h4>HDSS</h4>
                HDSS is a self-administered and self-managed real estate company focused on
            the ownership, operation, acquisition, and development of self-storage
            facilities in the United States. Our self-storage facilities are designed to offer
            affordable, easily accessible storage space for residential and commercial
            customers. As a national owner and operator, we continually enhance our
            business by applying our management expertise and best practices to each
            facility.
        </div>
        <br>
        <div class="row">
            <h4>Our Story</h4>
                Since opening our first self-storage facility in 2020, we've grown to become
            the largest owner and operator of self-storage facilities in the world. With
            thousands of locations across the U.S, and more than 200,000 net rentable
            square feet of real estate, we're also one of the largest landlords.
            But size isn't everything. With our customer focus and a significant presence
            in major markets, we've maintained a leadership position in the self-storage
            industry for almost half a century.
        </div>
            <br>
        <div class="row">
            <h4>Values</h4>
                We are united under one common goal - creating a diverse and inclusive
            environment where all employees feel valued, included, and excited to be part
            of a best-in-class team. With over 10 team members from all different races,
            backgrounds, and life experiences, we celebrate inclusion and value the
            diversity each person brings to Public Storage. We believe our commitment to
            diversity and inclusion makes us a stronger Company and instills a sense of
            pride across our teams and the customers we serve.
        </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
