<div class="contentBox text-center  my-2 bg-light">

    <div class="hostForm" >
        <h2>Add your space here.</h2>
        <form id="static-form" method="POST" enctype="multipart/form-data" action="/space/add" >
            <div class='form-row'>
                <div class="form-group  col-md-12">
                    <input name="spaceName" id="spaceName" type="text"  class="full-width-input form-control" placeholder="Space name" value="" aria-describedby="basic-addon1">
                </div>  
            </div>  
             <div class='form-row'>
                <div class="form-group  col-md-4">
                     <input name="length" id="length" type="number"   class="full-width-input form-control" placeholder="Length" value="" aria-describedby="basic-addon1">        
                </div>  
                <div class="form-group  col-md-4">
                    <input name="width"  id="width" type="number"  class="full-width-input form-control" placeholder="Width" value="" aria-describedby="basic-addon1">
                </div>  
                <div class="form-group  col-md-4">
                    <input name="height" id="height" type="number"   class="full-width-input form-control" placeholder="Height" value="" aria-describedby="basic-addon1">
                </div>  
            </div>  
             <div class='form-row'>
                <div class="form-group  col-md-12">
                     <input name="price" id="price" type="number"   class="full-width-input form-control" placeholder="price" value="" aria-describedby="basic-addon1">
                </div>  
            </div> 
            <div class='form-row'>
                <div class="form-group  col-md-12">
                     <input type="text" class="full-width-input form-control"  name="streetAddress" id="streetAddress" placeholder="Enter street address">
                </div>  
            </div> 
             <div class='form-row'>
                <div class="form-group  col-md-4">
                    <input type="text" class="full-width-input form-control"  name="city" id="city" placeholder="Enter city">
                </div>  
                <div class="form-group  col-md-4">
                   <input type="text" class="full-width-input form-control"  name="state" id="state" placeholder="state">
                </div>  
                <div class="form-group  col-md-4">
                    <input type="number" class="full-width-input form-control"  name="zip" id="zip" placeholder="zip">
                </div>  
            </div>  
             <div class='form-row'>
                <div class="form-group  col-md-6">
                    <input type="text" class="full-width-input form-control"  name="longitude" id="longitude" placeholder="Enter longitude">
                </div>  
                <div class="form-group  col-md-6">
                    <input type="text" class="full-width-input form-control"  name="latitude" id="latitude" placeholder="Enter latitude">
                </div>                 
            </div>  
             <div class='form-row'>
                <div class="form-group  col-md-12">
                   <textarea name="description" class="form-control" id="description" cols="74" rows="6" placeholder="Say something..." value=""></textarea>
                </div>  
            </div>  
            <div class='form-row'>
                <div class="form-group  col-md-12">
                  <span>Choose photos</span>
                <input name="upload" id="addImg" type="file" accept="image/jpg, image/png, image/jpeg, image/gif, image/tiff" multiple>
                </div>  
            </div>  
           
            <div class="form-group">
                 {{!-- <input id="addNewPostButton" name="submit" type="button" class="btn AllButton" value="Submit" > --}}
                <button id="addNewPostButton" name="submit" value="Submit" class="btn btn-primary btn-block" type="button">Register</button>
                </div></form>
            
    </div>

  <p style="margin-top: 3px; color: #b52818" id="imageCount"></p>
</div>
  <script>
      
      var file = document.getElementById('addImg')
// count for photos user has chosen
var fileCount = 0;
$('#imageCount').hide();
//  when user choose photos
file.onchange = function () {
    for (let i = 0; i < this.files.length; i++) {
        formData.append('photo' + i, this.files[i]); // add photos' path to formData
        fileCount ++;
    }
    if(fileCount == 1){
        $('#imageCount').text('You have chosen '+fileCount+' photo');
        $('#imageCount').show();
    } else if(fileCount > 1 && fileCount <=3){
        $('#pimageCount').text('You have chosen '+fileCount+' photos');
        $('#imageCount').show();
    } else {
        $('#pimageCount').text('You can only upload 4 photos at most');
        $('#imageCount').show();
    }
};
  </script>

            