 <form id="static-form" method="POST" enctype="multipart/form-data" action="/space/add" >
        <div class="row">
            <h4 id="Guide">Add your space here</h4>
            <div class="col-sm-8" class="form-group" id="spaceName">
                <input name="spaceName" type="text"  class="form-control" placeholder="Space name" value="" aria-describedby="basic-addon1">
            </div>
            <div class="col-sm-8">
                <h5>Space Dimension</h5>
                <div class='col-sm-2' class="form-group" id="length" >              
                    <input name="length" type="number"  class="form-control" placeholder="Length" value="" aria-describedby="basic-addon1">
                </div>
                <div class='col-sm-2'  id="width">
                    <input name="width" type="number" class="form-control" placeholder="Width" value="" aria-describedby="basic-addon1">
                </div>
                    <div class='col-sm-2' id="height">   
                    
                    <input name="height" type="number"  class="form-control" placeholder="Height" value="" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class='col-sm-8' class="form-group" id="price">   
                <label>Price per day</label>           
                <input name="price" type="number" class="form-control" placeholder="price" value="" aria-describedby="basic-addon1">
            </div>
            <div class="col-sm-8">
                    <h5>Adress</h5>
                    <div class="form-group" id="streetAddress">
                        <label>Street address</label>
                        <input type="text" class="form-control" name="streetAddress" placeholder="Enter street address">
                    </div>
                    <div class="form-group" id="city">
                        <label>City</label>
                        <input type="text" class="form-control" name="city" placeholder="Enter city">
                    </div>
                    <div class="form-group" id="state">
                        <label>State</label>
                        <input type="text" class="form-control" name="state" placeholder="state">
                    </div>
                    <div class="form-group" id="zip">
                        <label>Zip</label>
                        <input type="number" class="form-control" name="zip" placeholder="zip">
                    </div>
            </div>
            <div class="col-sm-8">
                    <h5>Location</h5>
                    <div class="form-group" id="longitude">
                        <label>Longitude</label>
                        <input type="text" class="form-control"  name="longitude" placeholder="Enter longitude">
                    </div>
                    <div class="form-group" id="latitude">
                        <label>Latitude</label>
                        <input type="text" class="form-control"  name="latitude" placeholder="Enter latitude">
                    </div>
            </div>
                <div class="col-sm-8" class="form-group" id="description">
                    <h5>About space</h5>
                    <textarea name="description" class="form-control" cols="74" rows="6" placeholder="Say something..." value=""></textarea>
                </div>                  
        </div>
        
        <div>
            <label class="btn btn-default fileinput-button">
                <span>Choose photos</span>
                <input name="upload" id="addImg" type="file" accept="image/jpg, image/png, image/jpeg, image/gif, image/tiff" multiple>
            </label>
             {{!-- <input id="addNewPostButton" name="submit" type="submit" value="Submit" >       --}}
              <input id="addNewPostButton" name="submit" type="submit" class="btn AllButton" value="Submit" >
        </div>
</form>
  <p style="margin-top: 3px; color: #b52818" id="imageCount"></p>
  

            