
<div class="contentBox text-center  my-2 bg-light">
    <div class="hostForm" >
        </div>
              <h2>You are logged out</h2>
              <a href='/user/login'>Click here to login again</a>
        </div>
    </div>
</div>






