
{{#if hasError}}
<h1 class="error">{{error}}.</h1>
{{/if}}

<form action="/user/signup" method="POST" id="signupForm" autocomplete="on">
    <div id="firstName">
        <label>
        First Name: 
        <input type="text" name="firstName" placeholder="Enter your First Name"  class="full-width-input"/>
        </label>
    </div>

    <div id="lastName">
        <label>
        Last Name: 
        <input type="text" name="lastName" placeholder="Enter your Last Name" class="full-width-input"/>
        </label>
    </div>

    <div id="email">
        <label>
        Email: 
        <input type="email" name="email" placeholder="Enter your Email" class="full-width-input"/>
        </label>
    </div>

    <div id="password">
        <label>
        Password: 
        <input name="password" placeholder="Enter your password" type="password" class="full-width-input"/>
        </label>
    </div>

    <div id="phoneNumber">
        <label>
        Phone Number: 
        <input type="text" name="phoneNumber" placeholder="Enter your Phone Number" class="full-width-input"/>
        </label>
    </div>

    <div id="ssn">
        <label>
        SSN Number: 
        <input type="text" name="ssn" placeholder="Enter your SSN" class="full-width-input"/>
        </label>
    </div>

    <div>
        <label><input type="submit" value="Register" class="submit" /></label>
    </div>
</form>

<a href='/user/login'>Already have an account? Click here to login</a>