
<body>
    <div class="login-dark">
        <div  id="backgroundImage">
        <img src="/public/images/LoginPage.jpeg" />
        </div>
        <form action="/user/signup" method="POST" id="signup-form">
            <p class="signUp">Sign Up</p>
            <p class="signUpText">It's free and only takes a minute.!</p>
            <div class="form-group" id="firstName">
                <input type="text" name="firstName" placeholder="First Name" class="full-width-input form-control"/>
            </div>
            <div class="form-group" id="lastName">                
                  <input type="text" name="lastName" placeholder="Last Name" class="full-width-input form-control"/>
            </div>
             <div class="form-group" id="email">
                <input type="email" name="email" placeholder="Enter your Email" class="full-width-input form-control"/>
            </div>
             <div class="form-group" id="phoneNumber">
                  <input type="text" name="phoneNumber" placeholder="Enter your Phone Number" class="full-width-input form-control"/>
            </div>
            <div class="form-group" id="ssn">
                  <input type="text" name="ssn" placeholder="Enter your SSN" class="full-width-input form-control"/>
            </div>
            <div class="form-group" id="password">
                   <input name="password" placeholder="Enter your password" type="password" class="full-width-input form-control"/>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Register</button></div><a href="/user/login" class="forgot">Already a member? Log in.</a></form>
            
    </div>
 
</body>

